VITE_APP_ID=wellness
VITE_APP_TITLE=WELLNESS DASHBOARD
VITE_APP_MAIN_API_BASE_URL=http://localhost:4000
VITE_APP_LOCAL_STORAGE_TOKEN_KEY=dentalAuthClientToken
VITE_APP_LOCAL_STORAGE_EMAIL=dentalAuthClientEmail
VITE_APP_PER_PAGE=10
VITE_APP_MAINTENANCE_MODE=false
